@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

.header {
  position: relative;
}

.firstview img {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.logo img {
  position: absolute;
  width: 10%;
}

.banner {
  cursor: pointer;
  transition-duration: 0.4s;
}

.banner:hover {
  transform: scale(1.1);
}

.banner img {
  width: 50%;
  display: block;
  margin: 0.5rem auto 1rem auto;
}

.section1 {
  position: relative;
}

.section1 img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.section2 {
  position: relative;
  background-image: url(../assets/section2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.section2-img img {
  width: 70%;
  display: block;
  margin: 0 auto;
  position: absolute;
}

.section3 {
  position: relative;
  background-image: url(../assets/section3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.shisan img {
  max-width: 30%;
  margin-left: 61%;
  margin-top: 6%;
}

.tyokin img {
  max-width: 30%;
  margin-left: 20%;
  margin-top: 5%;
}

.nakanaka img {
  max-width: 30%;
  margin-left: 41%;
  margin-top: 3%;
}

.okane img {
  max-width: 30%;
  margin-top: 5%;
  margin-left: 55%;
}

.imano img {
  max-width: 30%;
  margin-top: 3%;
  margin-left: 22%;
}

.syuppi img {
  max-width: 30%;
  margin-top: 3%;
  margin-left: 41%;
  margin-bottom: 2%;
}

.section4 img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.section5 img {
  width: 100%;
}

.section6 {
  position: relative;
  background-image: url(../assets/section6.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.section7 img {
  width: 100%;
}

.section8 {
  position: relative;
  background-image: url(../assets/section8.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section-text {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-top: 0;
  padding: 5%;
}

.cospa img {
  max-width: 100%;
  margin: 5% auto;
  display: block;
}

.syoseki img {
  max-width: 100%;
  margin: 5% auto;
  display: block;
}

.okaneno img {
  max-width: 100%;
  margin: 5% auto;
  display: block;
}

.okanenokoto img {
  max-width: 100%;
  margin: 5% auto;
  display: block;
}

.mimideha img {
  max-width: 100%;
  margin: 5% auto;
  display: block;
}

.eigo img {
  max-width: 100%;
  margin: 5% auto;
  display: block;
  padding-bottom: 5%;
}

.section9 img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.section10 {
  margin-top: 15%;
}

.section10 img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.section11 {
  cursor: pointer;
  transition-duration: 0.4s;
}

.section11:hover {
  transform: scale(1.1);
}

.section11 img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* // ============
// ドーナツチャート
// ============ */
.chartGraphBox {
  position: relative;
  padding-top: 12%;
  padding-left: 60%;
  padding-bottom: 10%;
  max-width: 600px;
}

.text {
  position: absolute;
  left: 84%;
  top: 34%;
  font-size: calc(12px + 24 * (100vw - 400px) / 1000);
}

.text-percent {
  position: absolute;
  font-size: calc(60px + 90 * (100vw - 400px) / 1000);
  top: 34%;
  left: 75%;
  font-family: Cabin;
  font-style: italic;
  font-weight: normal;
}

.text-percent2 {
  position: absolute;
  top: 50%;
  left: 87%;
  font-size: calc(14px + 24 * (100vw - 400px) / 1000);
}

/* // ============
// バーチャート
// ============ */
.chartGraphBox-bar {
  position: relative;
  padding-top: 16%;
  padding-left: 27%;
  padding-right: 38%;
  padding-bottom: 16.2%;
  max-width: 920px;
}

.price-1 {
  position: absolute;
  top: 46%;
  left: 31%;
  font-size: calc(12px + 35 * (100vw - 400px) / 1000);
  color: #fff;
}

.price-2 {
  position: absolute;
  top: 53%;
  left: 32%;
  font-size: calc(12px + 35 * (100vw - 400px) / 1000);
  color: #fff;
}

.price-3 {
  position: absolute;
  top: 35%;
  left: 48.5%;
  font-size: calc(12px + 40 * (100vw - 400px) / 1000);
  color: #fff;
}

.price-4 {
  position: absolute;
  top: 43%;
  left: 49%;
  font-size: calc(12px + 40 * (100vw - 400px) / 1000);
  color: #fff;
}

.sonosaha img {
  position: absolute;
  top: 34%;
  max-width: 20%;
}

/*  ============
// アコーディオン
// ============ */
.accordion {
  margin: 10% auto;
}

.toggle {
  display: none;
}

.Label {
  /*タイトル*/
  padding: 1em;
  display: block;
  color: #333;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

.Label::after {
  /*タイトル横の矢印*/
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 3px);
  right: 20px;
  transform: rotate(135deg);
}

.icon1::before {
  /*タイトル横の矢印*/
  content: url(../assets/icon1.svg);
  padding: 20px;
}

.icon2::before {
  /*タイトル横の矢印*/
  content: url(../assets/icon2.svg);
  padding: 20px;
}

.icon3::before {
  /*タイトル横の矢印*/
  content: url(../assets/icon3.svg);
  padding: 20px;
}

.icon4::before {
  /*タイトル横の矢印*/
  content: url(../assets/icon4.svg);
  padding: 20px;
}

.icon5::before {
  /*タイトル横の矢印*/
  content: url(../assets/icon5.svg);
  padding: 20px;
}

.icon6::before {
  /*タイトル横の矢印*/
  content: url(../assets/icon6.svg);
  padding: 20px;
}

.icon7::before {
  /*タイトル横の矢印*/
  content: url(../assets/icon7.svg);
  padding: 20px;
}

.Label, .content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.3s;
}

.content {
  /*本文*/
  height: 0;
  margin-bottom: 10px;
  padding: 0 20px;
  overflow: hidden;
}

.toggle:checked + .Label + .content {
  /*開閉時*/
  height: auto;
  transition: all 0.3s;
  width: 72%;
  margin: 0 auto;
}

.toggle:checked + .Label::before {
  transform: rotate(-45deg) !important;
}

/* ===========
ふわっと表示
=========== */
.fade-in {
  opacity: 0;
  transition-duration: 1.2s;
  transition-property: opacity, transform;
}

.fade-in-down {
  transform: translate(0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  .text-percent {
    left: 74%;
  }

  .text-percent2 {
    top: 52%;
    left: 88%;
  }

  .Label {
    /*タイトル*/
    font-size: 18px;
  }

  .chartGraphBox-bar {
    max-width: 360px;
  }

  .sonosaha img {
    top: 30%;
    max-width: 23%;
  }
}
@media screen and (max-width: 414px) {
  .section-text {
    font-size: 16px;
  }

  .Label {
    /*タイトル*/
    font-size: 14px;
    margin: 5px;
  }

  .Label::after {
    right: 0;
  }

  .chartGraphBox {
    padding-top: 12%;
    padding-left: 58%;
    padding-bottom: 10%;
    max-width: 600px;
  }

  .text {
    left: 79%;
    top: 34%;
  }

  .text-percent {
    top: 37%;
    left: 74%;
  }

  .text-percent2 {
    top: 50%;
    left: 87%;
  }
}
/*# sourceMappingURL=styles-lp.css.map */